@model CodeLouSpotify.Models.AudioAnalysis

@{
    ViewData["Title"] = "AnalyzeTrack";
}

<h1>AnalyzeTrack</h1>

<div>
    <h4>AudioAnalysis</h4>
    <hr />
    <dl class="row">
        <dt>Bars</dt>
        <dd>@Model.bars[0].duration</dd>
    </dl>
</div>

