@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-success">Spotify DB</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"><button>Authenticate</button></a>.</p>
</div>
